*{margin: 0;padding: 0;}

:root{
    --yellow:hsl(47, 88%, 63%);
    --gray-950:hsl(0, 0%, 7%);
    --gray-500:hsl(0, 0%, 42%);
    --white:(0, 0%, 100%);
    --spacing-300:24px;
    --spacing-150:12px;
    --spacing-100:8px;
    --spacing-50:4px;
}

body{
    background-color: var(--yellow);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: Figtree;
}

.card{
    display: flex;
    width: 24rem;
    padding: var(--spacing-200, 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 1.5rem);
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: 1px solid var(--color-gray-950, #111);
    background: var(--color-white, #FFF);
    box-shadow: 8px 8px 0px 0px #000;
}
.card:hover{
    transition:all .4s ease-in-out;
    cursor: pointer;
}
.card:hover .title{
    color:var(--yellow);
}
img.article-pic{
    width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-150, 0.75rem);
    align-self: stretch;
}
.categorie{
    background-color: var(--yellow);
    padding:var(--spacing-50) var(--spacing-150);
    border-radius: var(--spacing-50);
}
.datetime{
    color: var(--gray-950);
    font-size:0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.title{
    color: var(--gray-950);
    font-size: var(--spacing-200, 1.5rem);
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    transition:all .4s ease-in-out;
}
.description{
    color: var(--gray-500);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.author{
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}
img.author-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    object-fit: cover;
}
.name{
    color: var(--gray-950);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}


.attribution{
    position: absolute;
    bottom:1rem;
    text-align: center;
    width: 100%;
}